<div id="tabs" style="width: 990px;margin: 0px auto;">
  <ul>
    <li><a href="#tabs-1">我的訂位記錄</a></li>
    <li><a href="#tabs-2">我的會員資料</a></li>
  </ul>
  <div id="tabs-1">
    <%= render :partial => 'booking_record' %>
  </div>
  <div id="tabs-2">
    <%= render :template => 'devise/registrations/edit',
               :locals => {
                       :resource => @booker,
                       :resource_name => 'user' } %>
  </div>
</div>

<div id="myModal" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" name="close_modal">×</button>
    <h4 id="myModalLabel">輸入消費感想</h4>
  </div>
  <div class="modal-body">
    <textarea id="feedback"></textarea>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" name="save_feedback">儲存</button>
    <button class="btn" data-dismiss="modal" aria-hidden="true" name='close_modal'>關閉</button>
  </div>
</div>

<script>

    $('[name=showEdit]').click(function(){

        //$('#feedback').text($('#feedback_hidden').val())

        $('[name=btn_div]').hide();
        $('[name=feedback_area]').hide();
        $('[name=feedback_label]').show();
        $('[name=showEdit]').show();

        $(this).closest('div').find('a').each(function(){
            $(this).hide();
        });

        $(this).closest('div').find('textarea').each(function(){
            $(this).show();
        });

        $(this).closest('div').find('label').each(function(){
            $(this).hide()
        });

        $(this).closest('div').find('div').each(function(){
            $(this).show()
        });

        return false
    });

    $('[name=close_edit]').click(function(){
        $('[name=btn_div]').hide();
        $('[name=feedback_area]').hide();
        $('[name=feedback_label]').show();
        $('[name=showEdit]').show();
    });


    $('[name=showModal]').click(function(){
        //$('body').css({'overflow':'hidden'});
        $('#feedback').text($('#feedback_hidden').val())
        $('#myModal').show().offset($(this).offset());
    });

    $('[name=close_modal]').click(function(){
        $('#myModal').hide();
    });

    $('[name=save_feedback]').click(function(){
        var booking_id = ''
        var feedback = ''

        var obj_area
        var obj_label

        $(this).parent().parent().closest('div').find('label').each(function(){
            obj_label = $(this);
        });

        $(this).parent().parent().closest('div').find('a').each(function(){
            booking_id = $(this).data('value');
        });

        $(this).parent().parent().closest('div').find('textarea').each(function(){
            obj_area = $(this);
            feedback = $(this).val();
        });

        //var feedback = $('#feedback').val()
        //var booking_id = $('#feedback_btn').data('value')

        $.ajax({
            url: "/booker_manage/feedback",
            type: 'POST',
            data:  {booking_id: booking_id,feedback: feedback},
            cache: false,
            async: false,
            success: function(response){
                //$('#myModal').hide();

                if (response.success){
                    obj_area.text(feedback);
                    obj_label.text(feedback);

                    alert(response.data)
                }
                else if (response.error){
                    obj_area.val(obj_label.text())
                    alert(response.message)
                }
                else {
                    obj_area.val(obj_label.text())
                    alert('發生未預期的回應，請告知CoDream小組處理!')
                }

                $('[name=btn_div]').hide();
                $('[name=feedback_area]').hide();
                $('[name=feedback_label]').show();
                $('[name=showEdit]').show();
            },
            error: function(){
                //$('#myModal').hide();
                obj_area.val(obj_label.text())
                $('[name=btn_div]').hide();
                $('[name=feedback_area]').hide();
                $('[name=feedback_label]').show();
                $('[name=showEdit]').show();
                alert('oops! 出現錯誤了!');
            }
        });
    });
</script>