<div style="background-color: rgb(242,242,242); padding: 20px 20px 20px 20px;border-radius: 15px 15px 15px 15px">

  <div style="font-size: 25px; text-align: center">關於我們(CoDream 訂吧)</div>

  <div style="font-size: 16px; text-align: center;letter-spacing: 0.5px;line-height: 30px;margin-top: 20px;text-indent:35px">
    CoDream是一群擁有各自創業經驗的冒險家，<br>
    都有過夢想、有過努力、有過現實、也有過絕望…<br>
    我們沒有辦法放棄做喜歡的事、更無法放棄最初的夢想。<br>

    CoDream跟財團、政治、後台、人脈等都套不上關係，<br>
    因此CoDream會更努力地的讓大家看見我們的存在。<br>

    我們誕生在2013年8月，這幾個月裡，<br>
    CoDream撰寫了open source 的線上打卡與餐廳網路訂位的平台，<br>
    藉由專案的研討和技術的開發，讓團隊的分工與默契更合拍。<br>

    我們堅信台灣將有個媲美甚至超越Facebook的新形態社群網路誕生，<br>
    並且是由CoDream團隊所規劃建置完成。<br>
    而這個新形態社群網路核心，將會是你我心中的夢想與珍藏，<br>
    CoDream與你相約一年半後，一同用夢想燦爛照亮整個宇宙。<br>

    CoDream成立後的第二個專案為建置一個買賣雙方都不需要付費的餐廳網路訂位平台。<br>
    這專案的起源為CoDream團隊幾乎各各都是嘴饞鬼，<br>
    看到美食介紹就忍不住要訂位嚐鮮，但每次打電話訂位都覺得很不便利。<br>
    因此突發奇想，若是每間餐廳都能有網路訂位系統，<br>
    那麼在有效分配人力與不浪費食材的原則下，<br>
    不僅能讓消費者避免上班時間冒險訂位，也能讓廚房精準採購食材，<br>
    而櫃檯與接待人員也不會手忙腳亂。<br>
    一番研究後，CoDream團隊發現全球都有類似的訂位平台，<br>
    功能大同小異，但都有個共通點–付費。<br>

    使用者付費是理所當然的道理，但開放式網路平台要向賣家收取費用，<br>
    這點讓CoDream團隊百思不解。因網路平台資源應該是共享並免費的，<br>
    就像Facebook和Google等服務一樣，是為了讓大家方便使用而創造的平台，<br>
    而收入來源則是在額外的加值服務上。目前訂吧Dingba尚在Beta版本，<br>
    之後會修正爲更加穩定並無錯誤產生的Stable版本，<br>
    唯一不變的是 訂吧Dingba 將永遠是免費使用的平台。<br>
  </div>
</div>