


<div class="row" style="margin: 35px 0;text-align: center;">

  <div style="float:left; width: 250px">
    <img src="">

    <div style="border:#D6D6D6 2px solid;">
      <label style="font-size: 30px">我是餐廳經營者</label>
      <label style="font-size: 30px">登入餐廳</label>
    </div>
  </div>

  <div style="float:left; width: 250px">
    <img src="">

    <div style="border:#D6D6D6 2px solid;">
      <label style="font-size: 30px">我是餐廳經營者</label>
      <label style="font-size: 30px">登入餐廳</label>
    </div>
  </div>



</div>

<a href="/sessions/restaurant_new">
  <div>
    餐廳登入
  </div>
</a>

<a href="/registrations/restaurant_new">
  <div>
    餐廳註冊
  </div>
</a>

<a href="/sessions/booker_new">
  <div>
    booker登入
  </div>
</a>


<a href="/registrations/booker_new">
  <div>
    booker註冊
  </div>
</a>


<%-# link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>

<%-# link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2) %>

<%-# link_to "sign in with yahoo", user_omniauth_authorize_path(:open_id, :openid_url => "http://yahoo.com") %>
