

<div style="text-align: center;font-size: 24px;letter-spacing: 1px; line-height: 50px;margin-top: 20px;color: rgb(153,153,153)">
  註冊確認信已經發出<br>
  請至您 E-Mail 信箱收信<br>
  並點下確認連結<br>
  方能完成註冊<br>
</div>