<div style="width: 17%" class="span3">
  <div id="sidebar" class="span12" name="left_sidebar">
    <a id="step1" name="step" href="/restaurant_manage/restaurant_info" class="now">基本資料</a>

    <div id="sub_choice">
      <a id="sub_res_info" class="now" href="/restaurant_manage/restaurant_info">餐廳資料</a>
      <a href="/restaurant_manage/restaurant_image">圖片管理</a>
      <a href="#">賬戶密碼</a>
    </div>

    <a id="step2" href="/restaurant_manage/supply_condition">供位時間</a>
    <a id="step3" href="/calendar/restaurant_month">專屬日曆</a>

    <div id="sub_choice2" style="height: 0;border-width: 0">
      <a href="/calendar/restaurant_month" class="now">月設定管理</a>
      <a href="/calendar/restaurant_day">日瀏覽修改</a>
    </div>

    <a id="step4" name="step" href="/restaurant_manage/query_books_by_date">訂位明細(報表)</a>
    </ul>
  </div>
</div>