<div id="res_header" class="row header">
  <div class="span6">
    <img id="logo" src="/assets/res/logo.png">
    <span id="logo_word">訂位不打烊，你我都是VIP</span>
  </div>
  <div class="span6" id="link">
    您的餐廳訂位網址&nbsp;<input type="text" value='<%= @res_url %>' readonly="readonly">
  </div>
</div>