
<div class="info">請挑選5張餐廳照片</div>

<div id="pics">
  <% 5.times do |i| %>
    <div class="float" data-id="<%= i + 1 %>">
      <label class="radio"><input type="radio" name="radio_img">設成封面</label>
      <div class="placeholder">
        <% if pic_name = @restaurant.method("pic_name#{i + 1}".to_sym).call %>
          <img src="/res/<%= @restaurant.id %>/images/<%= pic_name %>" alt="">
        <% else %>
          <img src="" alt="">
        <% end %>
        <i class="icon-remove"></i>
      </div>
    </div>
  <% end %>
  <div class="clear"></div>
</div>
<a href="#" id="upload" class="not_ajax btn btn-primary">選擇檔案上傳</a>
<div style="margin: 10px 0">
  上傳小秘訣：<br>
  1. 你可以用滑鼠一次圈選你電腦中的多張圖片同時上傳<br>
  2. 按住ctrl鍵不放，可以用滑鼠點選多張圖片<br>
  3. 圖片尺寸為寬200像素，高180像素<br>
  4. 圖片最大不可以超過 3M
</div>