<%-# render :partial => 'restaurant_header' %>

<%= render :partial => 'restaurant_step' %>

<div id="main" class="row-fluid">

  <%= render :partial => 'restaurant_left' %>

  <div id="form_place" class="span9" style="width: 80%;">
    <%= render :template => 'restaurant_manage/restaurant_info', :layout => false %>
  </div>
</div>

<div id="lightbox_wrap">
  <div id="lightbox">
    <div id="tabs">
      <ul>
        <li><a href="#tabs-1">修改供位設定</a></li>
        <li><a href="#tabs-2">訂位資料</a></li>
      </ul>
      <div id="tabs-1">
        <form action="restaurant_manage/special_create" id="new_supply" method="post">
          <div id="tab_time">
          </div>
          <div class="float-r" style="position: relative; bottom: 19px">
            <input class="btn btn-primary" type="submit" value="確定新增">
            <input class="btn" value="關閉" id="close_create_btn" style="width: 50px">
          </div>
        </form>
      </div>
      <div id="tabs-2">
        <div id="tab_day_booking">
        </div>
      </div>
    </div>
  </div>
</div>


<script>
    //    $("#tabs").tabs({
    //        activate: function(event, ui) {
    //            alert("PRESSED TAB!");
    //        }
    //    });
    (tab_change = function (tab_index) {
        if(1 == tab_index){
            $.get("restaurant_manage/day_booking", {special_day: $("#tab_time [name='special_day']").val()}, 'html').done(function (data) {
                $("#tab_day_booking").html($.parseHTML(data));
                $("#show_day").datepicker({
                    dateFormat: "yy-mm-dd",
                    showOn: 'both',
                    buttonText: '<i class="icon-calendar"></i>'
                }).change(function() {
                            return $.get('/calendar/restaurant_day', {
                                select_date: this.value
                            }, 'html').done(function(response) {
                                        return refresh(response);
                                    }).fail(function() {
                                        return alert('fail');
                                    });
                        });
            }).fail(function () {
                        alert('loading fail');
                    })
        };
    })();

    $("#tabs").on("tabsactivate", function(event, ui) {
        //alert('pressed tab! ,solution 2')
        tab_change(ui.newTab.index())
    });

    $("#close_create_btn").click(function(){
        $("#lightbox_wrap").css('display','none');
    });

</script>




